.navbar {
  padding-top: 23px;
}
.navbar .navbar-brand {
  z-index: 100;
}
@media screen and (max-width: 990px) {
  .navbar .navbar-brand {
    display: none;
  }
}

header {
  z-index: 130;
}
@media screen and (max-width: 990px) {
  header .header__text {
    display: none;
  }
}

.cube__box {
  z-index: 140;
  position: relative;
  display: none;
  display: flex;
  justify-content: center;
  align-items: center;
  perspective: 800px;
  perspective-origin: top right;
}
.cube__box .cube {
  display: none;
  position: relative;
  width: 90px;
  height: 95px;
  transform-style: preserve-3d;
  -webkit-animation: cubeRotate 10s linear infinite;
  animation: cubeRotate 10s linear infinite;
}
@media screen and (max-width: 990px) {
  .cube__box .cube {
    display: block;
    z-index: 140;
    position: relative;
  }
}
.cube__box .cube .side {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0.9;
}
.cube__box .cube .front {
  background-color: hsla(0deg, 0%, 100%, 0.8);
  transform: translateZ(45px);
}
.cube__box .cube .back {
  background-color: hsla(0deg, 0%, 100%, 0.8);
  transform: translateZ(-45px);
}
.cube__box .cube .left {
  background-color: hsla(0deg, 0%, 100%, 0.8);
  transform: rotateY(90deg) translateZ(45px);
}
.cube__box .cube .right {
  background-color: hsla(0deg, 0%, 100%, 0.8);
  transform: rotateY(-90deg) translateZ(45px);
}
.cube__box .cube .top {
  background-color: hsla(0deg, 0%, 100%, 0.8);
  transform: rotateX(90deg) translateZ(45px);
}
.cube__box .cube .bottom {
  background-color: hsla(0deg, 0%, 100%, 0.8);
  transform: rotateX(-90deg) translateZ(45px);
}
.cube__box .cube .side__front__img {
  width: 85px;
  height: 85px;
}
.cube__box .cube .side__left__img {
  width: 85px;
  height: 85px;
}
.cube__box .cube .side__right__img {
  width: 85px;
  height: 85px;
}
.cube__box .cube .side__back__img {
  width: 85px;
  height: 85px;
}
.cube__box .cube .side__top__img {
  width: 85px;
  height: 85px;
}
.cube__box .cube .side__bottom__img {
  width: 85px;
  height: 85px;
}
@-webkit-keyframes cubeRotate {
  from {
    transform: rotateY(0deg) rotateX(720deg) rotateZ(0deg);
  }
  to {
    transform: rotateY(360deg) rotateX(0deg) rotateZ(360deg);
  }
}
@keyframes cubeRotate {
  from {
    transform: rotateY(0deg) rotateX(720deg) rotateZ(0deg);
  }
  to {
    transform: rotateY(360deg) rotateX(0deg) rotateZ(360deg);
  }
}

@media screen and (max-width: 990px) {
  .navbar-collapse {
    position: fixed !important;
  }
}
.navbar-collapse .navbar-collaps-text {
  display: none;
}
@media screen and (max-width: 990px) {
  .navbar-collapse .navbar-collaps-text {
    list-style: none;
    display: block;
    padding-top: 50%;
  }
  .navbar-collapse .navbar-collaps-text li {
    padding-bottom: 55px;
  }
  .navbar-collapse .navbar-collaps-text li a {
    font-family: "20 Kopeek Book";
    font-style: normal;
    font-weight: 400;
    font-size: 45px;
    line-height: 100%;
    color: white;
    align-items: center;
  }
}
@media screen and (max-width: 990px) and (max-width: 400px) {
  .navbar-collapse .navbar-collaps-text li a {
    font-size: 30px;
  }
}
@media screen and (max-width: 990px) {
  .navbar-collapse {
    background: linear-gradient(to left, hsla(222deg, 75%, 15%, 0.8) 20%, hsla(35deg, 65%, 45%, 0.8) 30%, hsla(190deg, 55%, 35%, 0.8) 45%, hsla(243deg, 55%, 15%, 0.8) 55%, hsla(339deg, 85%, 15%, 0.8) 70%, hsla(243deg, 55%, 15%, 0.8) 80%);
    background: linear-gradient(to left, hsla(222deg, 75%, 15%, 0.8) 20%, hsla(35deg, 65%, 45%, 0.8) 30% 45%, hsla(190deg, 55%, 35%, 0.8) 55% 70%, hsla(355deg, 65%, 55%, 0.8) 80%);
    position: absolute;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
  }
}
@media screen and (max-width: 990px) {
  .navbar-collapse .navbar-nav .nav-item-two {
    padding-top: 50px;
  }
}
@media screen and (max-width: 990px) {
  .navbar-collapse .navbar-nav {
    padding-inline: 12px;
  }
}
.navbar-collapse .navbar-nav .nav-item-face {
  padding-right: 7px;
}
.navbar-collapse .navbar-nav .nav-item-tel {
  padding-right: 15px;
}
@media screen and (max-width: 990px) {
  .navbar-collapse .navbar-nav .nav-item-tel {
    padding-top: 60px;
  }
}
.navbar-collapse .navbar-nav .nav-item-tel a {
  font-family: "20 Kopeek";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  color: #FFFFFF;
  padding: 7px 27px 7px 33px;
  border: 1px solid #FFFFFF;
  border-radius: 15px;
}
@media screen and (max-width: 990px) {
  .navbar-collapse .navbar-nav .nav-item-tel a {
    border: none;
  }
}

.header__text {
  font-family: "20 Kopeek";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 19px;
  color: #FFFFFF;
  padding-left: 22px;
}

.navbar-toggler {
  z-index: 99;
}

.main__banner {
  height: 100vh;
}
.main__banner .item {
  background-image: url(../img/01\ 1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
}
.main__banner .item-2 {
  background-image: url(../img/hedbeg.2.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
}
.main__banner .item-3 {
  background-image: url(../img/header.beg.3.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
}
.main__banner .item-4 {
  background-image: url(../img/hede.bg.4.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
  height: 100vh;
}/*# sourceMappingURL=style.css.map */