@mixin transform($property) {
    -webkit-transform: $property;
    -ms-transform: $property;
    transform: $property;
  }

@mixin max-screen($res) {
    @media screen and (max-width: $res) {
      @content;
    }
  }

.navbar{
    padding-top: 23px;
    .navbar-brand{
        z-index: 100;
        @include max-screen( 990px){
            display: none;
        }
    }
}

header{
    z-index: 130;
    .header__text{
        @include max-screen( 990px){
            display: none;
        }
    }
}

.cube__box{
    z-index: 140;
                    position: relative;
    display: none;
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: center;
            justify-content: center;
    -webkit-box-align: center;
            align-items: center;
    -webkit-perspective: 800px;
            perspective: 800px;
    -webkit-perspective-origin: top right;
            perspective-origin: top right;
            .cube{
                display: none;
                @include max-screen( 990px){
                    display: block;
                    z-index: 140;
                    position: relative;
                }
                position: relative;
                width: 90px;
                height: 95px;
                -webkit-transform-style: preserve-3d;
                        transform-style: preserve-3d;
                -webkit-animation: cubeRotate 10s linear infinite;
                        animation: cubeRotate 10s linear infinite;
                        .side {
                            position: absolute;
                            width: 100%;
                            height: 100%;
                            opacity: 0.9;
                          
                          }
                          
                          .front {
                            background-color: hsl(0 0% 100%  /0.8);
                        
                            -webkit-transform: translateZ(45px);
                                    transform: translateZ(45px);
                          }
                          
                          .back {
                            background-color: hsl(0 0% 100% /0.8);
                           
                            -webkit-transform: translateZ(-45px);
                                    transform: translateZ(-45px);
                          }
                          
                          .left {
                            background-color: hsl(0 0% 100% /0.8);
                          
                            -webkit-transform: rotateY(90deg) translateZ(45px);
                                    transform: rotateY(90deg) translateZ(45px);
                          }
                          
                          .right {
                            background-color: hsl(0 0% 100% /0.8);
                            
                            -webkit-transform: rotateY(-90deg) translateZ(45px);
                                    transform: rotateY(-90deg) translateZ(45px);
                          }
                          
                          .top {
                            background-color: hsl(0 0% 100% /0.8);
                          
                            -webkit-transform: rotateX(90deg) translateZ(45px);
                                    transform: rotateX(90deg) translateZ(45px);
                          }
                          
                          .bottom {
                            background-color: hsl(0 0% 100% /0.8);
                            
                           
                            -webkit-transform: rotateX(-90deg) translateZ(45px);
                                    transform: rotateX(-90deg) translateZ(45px);
                          } 
                    .side__front__img{
                            width: 85px;
                            height:  85px;
                    }
                    .side__left__img{
                            width: 85px;
                            height: 85px; 
                    }
                    .side__right__img{
                            width: 85px;
                            height: 85px; 
                    }
                    .side__back__img{
                            width: 85px;
                            height: 85px; 
                    }
                    .side__top__img{
                            width: 85px;
                            height: 85px; 
                    }
                    .side__bottom__img{
                            width: 85px;
                            height: 85px; 
                    }
                    @-webkit-keyframes cubeRotate {
                        from {
                          -webkit-transform: rotateY(0deg) rotateX(720deg) rotateZ(0deg);
                                  transform: rotateY(0deg) rotateX(720deg) rotateZ(0deg);
                        }
                        to {
                          -webkit-transform: rotateY(360deg) rotateX(0deg) rotateZ(360deg);
                                  transform: rotateY(360deg) rotateX(0deg) rotateZ(360deg);
                        }
                      }
                      
                      @keyframes cubeRotate {
                        from {
                          -webkit-transform: rotateY(0deg) rotateX(720deg) rotateZ(0deg);
                                  transform: rotateY(0deg) rotateX(720deg) rotateZ(0deg);
                        }
                        to {
                          -webkit-transform: rotateY(360deg) rotateX(0deg) rotateZ(360deg);
                                  transform: rotateY(360deg) rotateX(0deg) rotateZ(360deg);
                        }
                      }
            }
}

.navbar-collapse{
    @include max-screen( 990px){
        position: fixed !important;
    }
    .navbar-collaps-text{
        display: none;
        @include max-screen( 990px){
            list-style: none;
            display: block;
            padding-top: 50%;
            li{
                padding-bottom: 55px;
                a{
                    font-family: '20 Kopeek Book';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 45px;
                    line-height: 100%;
                    color: white;
                    align-items: center;
                    @include max-screen( 400px){
                        font-size: 30px
                    }
                }
            }
        }
    }
    @include max-screen( 990px){
        background: linear-gradient(to left,
        hsla(222, 75%, 15%, 0.8) 20%, hsla(35, 65%, 45%, 0.8) 30%, hsla(190, 55%, 35%, 0.8) 45%, hsla(243, 55%, 15%, 0.8) 55%, hsla(339, 85%, 15%, 0.8) 70%, hsla(243, 55%, 15%, 0.8) 80% );
        background: linear-gradient(to left,
        hsla(222, 75%, 15%, 0.8) 20%, hsla(35, 65%, 45%, 0.8) 30% 45%, hsla(190, 55%, 35%, 0.8) 55% 70%, hsla(355, 65%, 55%, 0.8) 80% );
        position: absolute;
        width: 100%;
        height: 100vh;
        top: 0;
        left: 0;
    }
 
    .navbar-nav{
 
        .nav-item-two{
            
            @include max-screen( 990px){
            padding-top: 50px;
            }
        }
        @include max-screen( 990px){
            padding-inline: 12px;
        }


        .nav-item-face{
            padding-right: 7px;
        }
        .nav-item-tel{
            padding-right: 15px;
            @include max-screen( 990px){
                padding-top: 60px;
            }
            a{
                font-family: '20 Kopeek';
                font-style: normal;
                font-weight: 400;
                font-size: 16px;
                line-height: 140%;
                color: #FFFFFF;
                padding: 7px 27px 7px 33px;
                border: 1px solid #FFFFFF;
                border-radius: 15px;
                @include max-screen( 990px){
                    border: none;
                }
            }
        }
    }
}

.header__text{
    font-family: '20 Kopeek';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 19px;
    color: #FFFFFF;
    padding-left: 22px;
}

.navbar-toggler{
    z-index: 99;
}

.main__banner{
    height: 100vh;
    .item{
        background-image: url(../img/01\ 1.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        height: 100vh;

    }
    .item-2{
        background-image: url(../img/hedbeg.2.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        height: 100vh;
    }    
    .item-3{
        background-image: url(../img/header.beg.3.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        height: 100vh;
    }    
    .item-4{
        background-image: url(../img/hede.bg.4.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: top center;
        height: 100vh;
    }
}




